.bio_section {
}
a {
  color: red;
  text-decoration: none;
}
body {
  min-height: 100vh;
}
/* .outer-box {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2px;
  align-items: center;
} */
.outer-box {
  color: white;
}
.box-1 {
  height: 100px;
  width: 100px;
  background-color: red;
  margin-bottom: 10px;
}
.box-2 {
  height: 100px;
  width: 100px;
  background-color: blue;
  margin-bottom: 10px;
}
.box-3 {
  height: 100px;
  width: 100px;
  background-color: yellow;
}
